<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Document</title>
</head>
<body>
	{% extends 'base.html'%}
	{%block title%} Create a new Comment{%endblock%}
	{%block content%}
	
<h1> ADD A NEW Comment on ....</h1>
<br>
<br>
<h1> add post</h1>
<div class="form-group">
<form method="POST">
	{% csrf_token %}
	{{ form.as_p}}

	<button type="button" class="btn btn-secondary">ADD COMMENT</button>

</form>
</div>
	
</body>
</html>