<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	
</head>
<body>
	{% extends 'base.html'%}

	{%block content%}DELETE BLOG POST{%endblock%}
	{%block content%}
	<br>
	<br>
	
{% if user.is_authenticated %}
	{% if user.id == post.author.id %}
			<h1> delete post</h1>
			<br><br>
			<h3>DELETE: {{ post.title}}</h3>
			<br><br>
		<div class="form-group">
				<form method="POST">
						{% csrf_token %}
						<strong> R U SURE</strong><br>
						<br><br>
						<button type="button" class="btn btn-secondary">DELETE</button>
		</div>
		{% else %}
			PLEASE LOGIN TO DELETE
		{% endif %}			
	{% else %}
	PLEASE LOGIN TO DELETE
	{% endif %}
{% endblock %}
</body>
</html>