<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Document</title>
</head>
<body>
	{% extends 'base.html'%}

	{%block content%} EDIT ....{%endblock%}
	{%block content%}
	{% if user.is_authenticated%}

		{% if user.id == post.author.id%}

			<h1>Upate Post......</h1>
		<br>
		<br>
		<div class="form-group">
			<form method="POST">
						{% csrf_token %}
						{{ form.media}}
						{{ form.as_p}}
						<button type="button" class="btn btn-secondary"UPDATE</button>
		</div>
		{% else}
		english in here
	{% endif %}
		YOU NEED TO LOG IN
{% else %}
please log in 
{% endif %}
</body>>
</html>